# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# misc
*.sqlite

# local .env* files
.env.local
.env.*.local

# log files
npm-debug.log
server.log
*debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# temp
/export
/upload
/uploads
/public/**/*.*